body {
  margin: 0;
  background: #70c5ce;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: linear-gradient(#70c5ce, #ffffff);
  border: 2px solid #333;
}
